In [34]:
import pandas as pd

In [35]:
dados = pd.read_csv('dados/aluguel_residencial_tratado.csv', sep=';')
dados.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0

In [36]:
dados['Valor Bruto'] = dados['Valor'] + dados['Condominio'] + dados['IPTU']
dados.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,2301.0
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,15803.0
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,2000.0
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,1278.0
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,2436.0
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,2738.0
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,10195.0
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,1670.0
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,2700.0
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,9563.0

In [37]:
dados['Valor m2'] = dados['Valor'] / dados['Area']
dados.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.500000
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.000000
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.333333
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.666667
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.000000
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.333333
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.384615
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.428571
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.666667
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.000000
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,2301.0,66.666667
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,15803.0,53.497942
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,2000.0,17.391304
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,1278.0,17.592593
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,2436.0,25.373134
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,2738.0,17.272727
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,10195.0,16.094421
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,1670.0,14.705882
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,2700.0,25.641026
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,9563.0,56.000000

In [38]:
dados['Valor m2'] = dados['Valor m2'].round(2)
dados.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,2301.0,66.67
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,15803.0,53.50
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,2000.0,17.39
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,1278.0,17.59
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,2436.0,25.37
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,2738.0,17.27
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,10195.0,16.09
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,1670.0,14.71
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,2700.0,25.64
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,9563.0,56.00

In [39]:
dados['Valor Bruto m2'] = (dados['Valor Bruto'] / dados['Area']).round(2)
dados.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.66
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,21.88
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,65.28
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,2301.0,66.67,85.22
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,15803.0,53.50,65.03
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,2000.0,17.39,17.39
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,1278.0,17.59,23.67
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,2436.0,25.37,36.36
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,2738.0,17.27,24.89
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,10195.0,16.09,21.88
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,1670.0,14.71,24.56
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,2700.0,25.64,34.62
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,9563.0,56.00,76.50

In [40]:
dados['Tipo'].drop_duplicates()

0              Quitinete
1                   Casa
2            Apartamento
5     Casa de Condomínio
81          Casa de Vila
Name: Tipo, dtype: object

In [41]:
tipo_casa = ['Casa', 'Casa de Condomínio', 'Casa de Vila']

In [42]:
# a função tem que ter o nome 'lambda'
dados['Tipo Agregado'] = dados['Tipo'].apply(lambda x: 'Casa' if x in tipo_casa else 'Apartamento')

In [43]:
dados.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.66,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,21.88,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,65.28,Apartamento
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,2301.0,66.67,85.22,Apartamento
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,15803.0,53.50,65.03,Apartamento
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,2000.0,17.39,17.39,Casa
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,1278.0,17.59,23.67,Apartamento
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,2436.0,25.37,36.36,Apartamento
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,2738.0,17.27,24.89,Apartamento
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,10195.0,16.09,21.88,Casa
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,1670.0,14.71,24.56,Apartamento
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,2700.0,25.64,34.62,Apartamento
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,9563.0,56.00,76.50,Apartamento

## excluindo variáveis

In [44]:
dados_aux = pd.DataFrame(dados[:])
dados_aux.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor Bruto,Valor m2,Valor Bruto m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,2260.0,42.50,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,7000.0,70.00,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,1210.0,53.33,80.67,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,1030.0,16.67,21.46,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,1618.0,26.00,32.36,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,22000.0,29.33,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,1000.0,15.38,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,2216.0,21.43,31.66,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,1969.0,16.67,21.88,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,2611.0,50.00,65.28,Apartamento
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,2301.0,66.67,85.22,Apartamento
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,15803.0,53.50,65.03,Apartamento
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,2000.0,17.39,17.39,Casa
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,1278.0,17.59,23.67,Apartamento
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,2436.0,25.37,36.36,Apartamento
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,2738.0,17.27,24.89,Apartamento
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,10195.0,16.09,21.88,Casa
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,1670.0,14.71,24.56,Apartamento
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,2700.0,25.64,34.62,Apartamento
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,9563.0,56.00,76.50,Apartamento

In [45]:
# primeira forma
del dados_aux['Valor Bruto']
dados_aux.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Valor Bruto m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,56.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,80.67,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,21.46,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,32.36,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,31.66,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,21.88,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,65.28,Apartamento
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,66.67,85.22,Apartamento
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,53.50,65.03,Apartamento
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,17.39,17.39,Casa
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,23.67,Apartamento
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,36.36,Apartamento
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,24.89,Apartamento
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,16.09,21.88,Casa
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,24.56,Apartamento
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,25.64,34.62,Apartamento
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,56.00,76.50,Apartamento

In [46]:
# segunda forma
dados_aux.pop('Valor Bruto m2')
dados_aux.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,66.67,Apartamento
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,53.50,Apartamento
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,17.39,Casa
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,16.09,Casa
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,25.64,Apartamento
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,56.00,Apartamento

In [49]:
# terceira forma
dados.drop(['Valor Bruto', 'Valor Bruto m2'], axis=1, inplace=True)
dados.head(20)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento
10,Quitinete,Copacabana,1,0,0,27,1800.0,501.0,0.0,66.67,Apartamento
11,Apartamento,Copacabana,4,3,1,243,13000.0,2000.0,803.0,53.50,Apartamento
12,Casa de Condomínio,Taquara,3,1,1,115,2000.0,0.0,0.0,17.39,Casa
13,Apartamento,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0,17.59,Apartamento
14,Apartamento,Barra da Tijuca,2,1,1,67,1700.0,589.0,147.0,25.37,Apartamento
15,Apartamento,Tijuca,2,1,0,110,1900.0,700.0,138.0,17.27,Apartamento
16,Casa de Condomínio,Barra da Tijuca,4,3,2,466,7500.0,2695.0,0.0,16.09,Casa
17,Apartamento,Olaria,3,1,0,68,1000.0,670.0,0.0,14.71,Apartamento
18,Apartamento,Tijuca,2,1,0,78,2000.0,700.0,0.0,25.64,Apartamento
19,Apartamento,Ipanema,3,1,1,125,7000.0,2100.0,463.0,56.00,Apartamento

In [51]:
dados.to_csv('dados/aluguel_residencial_tratado_agregado.csv', sep=';', index=False)